
.layerOne {
    background-color: var(--black);
    /* height: 70vh; */
  }
  
  .layerTwo {
    background-color: var(--black);
  }
  
  .layerThree {
    background-color: var(--black);
  }
  
  .layerFour {
    background-color:  var(--black);
  }
  .headertext {
    color: white;
    font-size: 100px;
    font-weight: bold;
  }