
.layerOne {
    background-color: var(--black);
    /* height: 70vh; */
  }
  
  .layerTwo {
    background-color: var(--black);
  }
  
  .layerThree {
    background-color: rgb(49, 30, 123);
  }
  
  .layerFour {
    background-color: rgb(37, 80, 66);
  }
  .headertext {
    color: white;
    font-size: 100px;
    font-weight: bold;
  }